[package]
name = "handle-macro"
version = "0.1.0"
edition.workspace = true

[lib]
proc-macro = true

[dependencies]
syn = { version = "2", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"
tokio = { version = "1", features = ["full"] } # needed for generated handle methods
bytes = "1"
