name: "PR Title Checker"

on:
  pull_request:
    branches: [main]
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  pr-title-check:
    name: "PR Title Checker"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: thehanimo/pr-title-checker@v1.4.3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          configuration_path: .github/pr-title-checker-config.json
